<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C++ Code Editor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.css">
    <link rel="stylesheet" href="/css/C++__css.css">
    <!-- <script type="module" src="dashboard.js"></script> -->
</head>
<body>
    <header>
        <nav>
            <h2>Welcome, <span id="loggedUserfname">User</span></h2>
            <ul>
                <li><a href="#">Add/Edit Menu</a></li>
                <li><button id="logoutButton">Logout</button></li>
            </ul>
        </nav>
    </header>
    
    <div class="editor-container">
        <header class="editor-header">
            <button id="run-btn">Run C++ Code</button>
        </header>
        <div class="editor">
            <textarea id="cpp-code"></textarea>
            <pre id="output"></pre>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/clike/clike.min.js"></script>
    <script src="/js/script__C++.js"></script>
</body>
</html>
