<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online HTML & CSS Editor</title>
    <link rel="stylesheet" href="/css/CSS_html_css.css">
    <script type="module" src="/js/dashboard.js"></script>
</head>
<body>
    <header>
        <nav>
          <h2>Welcome, <span id="loggedUserfname">User</span></h2>
          <ul>
            <li><a href="/templates/dashboard.html" title="Home">Home</a></li>
            <li><button id="logoutButton" title="Logout">Logout</button></li>
          </ul>
        </nav>
      </header>
    <main>
        <!-- <div class="tabs">
            <button class="tab-btn active" data-tab="html">HTML</button>
            <button class="tab-btn" data-tab="css">CSS</button>
        </div> -->
        <div class="editor-container">
            <textarea id="html-code" class="editor" placeholder="Write your HTML here"></textarea>
            <textarea id="css-code" class="editor hidden" placeholder="Write your CSS here"></textarea>
        </div>
        <button id="run-btn">Run</button>
        <iframe id="output" sandbox="allow-scripts"></iframe>
    </main>
    <script src="/js/script_html-css.js"></script>
</body>
</html>
